body 
{
    width: 100%;
    height: 100%;
  
 	background-image: url("../img/bg.png") !important; 	
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img 
{
    height: 100vh;
	width: 100%;
    margin: 0;
}

.container-fluid
{
	margin: 0px;
	width: 100%;	
}

#fotogallerij
{
	padding:0px;
    left: 0px;
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
}

html 
{
    width: 100%;
    height: 100%;	
}

@font-face 
{
    font-family: DeZoeteZonde;
    src: url('../fonts/cookiesandmilk.ttf');
}

.navbar-default .navbar-toggle .icon-bar 
{
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover
{
    background-color: #407CAD;
}

.navbartext
{
	color: #FFF;
	font-size:30px;
}

#mapid
{
    height: 500px;
    width: 500px;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#contactForm
{
    width: 400px;
    height: 400px;
    margin: auto;
}

#contactForm p
{
    text-align: center;
}

input
{
    margin-top: 15px;
}

textarea
{
    margin-top: 15px;
}

.navbartext :focus
{
	color: #FFF;
	font-size:30px;
}

#dropdowntext
{
    background-color: #407CAD;
    color: #fff;   
}

#foto1
{
    background-image: url("../img/foto1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#foto2
{
    background-image: url("../img/foto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#foto3
{
    background-image: url("../img/foto3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#foto4
{
    background-image: url("../img/foto4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.PaginaTitel
{
    font-size: 50px;
    text-align: center;
    color: #407CAD;
    text-decoration: underline;
    font-family: 'DeZoeteZonde';
}



#Openingsuren{
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    
}

#Openingsuren th, td{
    padding:10px;
    width:160px;
     
}




.gerechten
{
    text-align: center;
    font-size: 18px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


.weekDagMenu
{
    font-size: 30px;
    text-align: center;
    color: #407CAD;
    text-decoration: underline;
    font-family: 'DeZoeteZonde';
}

.weekGerecht
{
    text-align: center;
    color: #407CAD;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#Facebook{
    margin:auto;
    text-align: center;
    
}
@media(max-width:767px) 
{
    #weekMenu
    {
        text-align: center;
        background-color: #FFF;
        opacity: 0.85;
        border-radius: 5px;
        padding: 10px;
        min-height: 400px;
        width: 90%;
        margin: auto;   
    } 

    .navbar 
	{
        padding: 15px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color: #407CAD;
        border: black solid 0px;
        font-family: 'DeZoeteZonde';
        color: #fff;      
    } 
    
    .navbardropdowntext
    {
        color: #FFF;
        font-size:26px;
    }
    
    .dropdown-menu a :hover
    {   
        text-decoration: underline; 
    }

    #contactForm
    {
        height: 50px;
        width: 90%;
    }
}

@media(min-width:767px) 
{	
    .navbar 
	{
        padding: 15px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color: #407CAD;
        border: black solid 0px;
        font-family: 'DeZoeteZonde';
        color: #fff;      
    } 
    
    .navbardropdowntext
    {
        color: #407CAD;
        font-size:26px;
    }

    #weekMenu
    {
        text-align: center;
        background-color: #FFF;
        opacity: 0.85;
        border-radius: 10px;
        padding: 10px;
        min-height: 400px;
        width: 60%;
        margin: auto; 
    }    

}